body {
  background-color: rgb(234, 234, 234) !important;
}

/* nav bar */
.ui.inverted.top.fixed.menu {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.ui.secondary.top.fixed.menu {
  background-color: white;
}

/* side bar */
.ui.inverted.vertical.left.fixed.menu {
  margin-top: 4.61em;
  background-color: white;
  padding: 10px;
}

.ui.inverted.vertical.left.fixed.menu > .item {
  align-items: center;
  color: black;
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-items: flex-start;
}

.ui.inverted.vertical.left.fixed.menu > .item > span{
  align-items: center;
  display: flex;
  height: 20px;
}

.ui.inverted.vertical.left.fixed.menu > a.item.active {
  background-color: #ffff99;
  border-radius: 10px !important;
}

.ui.inverted.vertical.left.fixed.menu > .item.active > span {
  color: #ffce2f;
}

.ui.inverted.vertical.left.fixed.menu > a.item:hover {
  background-color: #ffff99;
  border-radius: 10px !important;
}

/* navbar-landingpage*/
.ui.inverted.horizontal.top.fixed.menu {
  margin-top: 4.61em;
  background-color: white;
  padding: 10px;
}

.ui.inverted.horizontal.top.fixed.menu > .item {
  align-items: center;
  color: black;
  display: flex;
  height: 50px;
  margin-bottom: 10px;
  margin-top: 10px;
  justify-items: flex-start;
}

.ui.inverted.horizontal.top.fixed.menu > .item > span{
  align-items: center;
  display: flex;
  height: 20px;
}

.ui.inverted.horizontal.top.fixed.menu > a.item.active {
  background-color: #ffff99;
  border-radius: 10px !important;
}

.ui.inverted.horizontal.top.fixed.menu > .item.active > span {
  color: #ffce2f;
}

.ui.inverted.horizontal.top.fixed.menu > a.item:hover {
  background-color: #ffff99;
  border-radius: 10px !important;
}

/* main-container */

.ui.container.main-container {
  flex-grow: 1;
  margin-left: 16.1em !important;
  margin-top: 5.7em !important;
  padding: 5px 20px 20px 5px;
}


/*home page styles*/

.masthead {
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
  height: 100vh;
}
.landingpage {
  background-image: linear-gradient(
    135deg,
    rgb(24, 42, 115) 0%,
    rgb(33, 138, 174) 69%,
    rgb(32, 167, 172) 89%
  ) !important;
}

.masthead .ui.menu .ui.button,
.ui.menu a.ui.inverted.button {
  margin-left: 0.5em;
}

.masthead h1.ui.header {
  font-size: 4em;
  font-weight: normal;
}

/* Calendar */
.due {
  background-color: red;
}

/* .masthead h2 {
  font-size: 1.7em;
  font-weight: normal;
}

.Clientmasthead{
  width: 75em;
  height: max-content;
}

.ClientButton{
  float: right;
}

.C4{
  text-align: center;
  margin-top: 0em;
}

#name{
  float: left;
} */

/* .loginMenu{
  float: right;
} */

/*end home page styles*/

/* this is a test */
/* .nine.wide.column{
  margin-left: 10px;
} */

/* Slider Image */

.slideImage {
  opacity: 0;
  transition-duration: 1s ease;
}

.slideImage.activeImage {
  opacity: 1;
  transition-duration: 1s;
  transform: scale(1.08);
}